@charset "UTF-8";

header {
  height: 100px;
  margin: 0 auto;
}

footer {
  height: 323px;
  margin: 0 auto;
  background-color: #F7F9FA;
}

nav {
  height: 80px;
}

/* container */

.header-container {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contents-container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/* header */

.header-menu {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
}

.header-menu2 {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
}

#logo-img {
  margin-right: 45px;

}

#top-menu {
  word-spacing: 20px;
}

#top-menu2 {
  word-spacing: 30px;
}

.top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 509px;
}

.top-btn > img {
  height: 25px;
  margin-right: 20px;
  margin-left: 10px;
}

.top-btn > button{
  background-color: #46c5f0;
  color: white;
  height: 34px;
  width: 80px;
  border-radius: 5%;
  border: none;
  margin-left: 15px;
}

.top-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contents */

.contents {
  height: 520px;
}

.today-story {
  width: 640px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.today-menu {
  width: 640px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 1px 8px;
}

.today-menu :nth-child(1) {
  font-weight: 600;
  font-size: 19px;
}

.today-menu :nth-child(2) {
  margin-left: 16px;
  font-size: 14px;
}

.today-menu :nth-child(3) {
  margin-left: 112px;
}

.today-box {
  width: 640px;
  height: 350px;
}

.today-news {
  width: 640px;
  height: 50%;
  display: flex;
}

.news {
  width: 25%;
  height: 100%;
  padding: 8px;
}

.news-img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-img img {
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

.news-text {
  width: 100%;
  height: 50%;
}

.news-content {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.news-name {
  width: 100%;
  height: 20%;
  font-size: 12px;
  color: darkgray;
}

/* footer */

.footer-area {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  padding: 55px 0;
}

.footer1 {
  width: 28%;
  height: 100%;
}

.footer1 > div {
  margin-bottom: 22px;
}


.footer2 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer2 > div {
  line-height: 38px;
}

.footer3 {
  width: 40%;
  height: 100%;
  font-size: 11px;
}

.footer-img {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 10px auto;
}

.footer-img > div {
  margin: 5px;
  }






