@charset "UTF-8";

@font-face{
  src: url("/font/appleSD/AppleSDGothicNeoL.ttf");
  font-family: "AppleSD";
}

@font-face{
  src: url("/font/appleSD/AppleSDGothicNeoB.ttf");
  font-family: "AppleSD-B";
}

body {
  font-family: "AppleSD";
  margin: 0px;
  position: relative;
  }

header {
  height: 100px;
  margin: 0 auto;
}

footer {
  height: 323px;
  margin: 0 auto;
  background-color: #F7F9FA;
}

nav {
  height: 80px;
}

/* container */

.header-container {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/* header */

.header-menu {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
}

.header-menu2 {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
}

#logo-img {
  margin-right: 45px;

}

#top-menu {
  word-spacing: 20px;
}

#top-menu2 {
  word-spacing: 30px;
}

.top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 509px;
}

.top-btn > img {
  height: 25px;
  margin-right: 20px;
  margin-left: 10px;
}

.top-btn > button{
  background-color: #46c5f0;
  color: white;
  height: 34px;
  width: 80px;
  border-radius: 5%;
  border: none;
  margin-left: 15px;
}

.top-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* rolling */
.rolling {
  display: flex;
}

.rolling-rank {
  display: flex;
  width: 150px;
}

#mouseover {
  width: 70px;
  display: flex;
  justify-content: center;
  height: 27px;
}

.mouseover-front {
  position: absolute;
  z-index: 10;
  width: 250px;
  height: 410px;
  background-color: #fff;
  top: 68px;
  right: 350px;
  box-shadow: 5px 5px 5px gray;
  line-height: 36px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  display: none;
}

.mouseover-front > div {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 500;
}

.search-point {
  width: 23px;
  margin-left: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
}

/* contents */

.container {
  width: 1280px;
  height: auto;
  margin: 0 auto;
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  border: 1px solid pink;*/
}

.title-area {
  width: 1280px;
  height: 100%;
}

.contents {
  display: flex;
  width: 100%;
  height: auto;
}

.content {
  width: 70%;
  height: auto;
/*  border: 1px solid #46c5f0;*/
}

.article-img {
  width: 100%;
  text-align: center;
  margin: 70px auto;
}

.aside-content {
  width: 30%;
  height: auto;
  position: relative;
}

.inaside {
  height: 1045px;
  width: 100%;
/*  background-color: lemonchiffon;*/
  position: sticky;
  top:0px
}

.aside-title {
  font-weight: bold; 
  padding: 50px 0px 15px 10px;
  font-family: AppleSD-B;
  font-size: 20px;
}

.aside-ranking {
  padding-left: 16px;
  font-size: 14px;
}

.aside-ranking > div {
  margin-bottom : 10px;
}

.num-blue {
  color: blue;
  margin-right: 10px;
  font-family: AppleSD-B;
  
}

.ch {
  display: flex;
}

.ch-text {
  font-size: 13px;
  width: 220px;
  margin-left: 15px;
}

/* footer */

.footer-area {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  padding: 55px 0;
}

.footer1 {
  width: 28%;
  height: 100%;
}

.footer1 > div {
  margin-bottom: 22px;
}


.footer2 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer2 > div {
  line-height: 38px;
}

.footer3 {
  width: 40%;
  height: 100%;
  font-size: 11px;
}

.footer-img {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 10px auto;
}

.footer-img > div {
  margin: 5px;
  }

.fixed-menu {
  width: 40px; 
  height: 100%; 
  border: 0.5px solid #efefef;
  position: fixed; 
  right: 0px;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#adddiv {
  width: 40px; 
  height: auto; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fixed-menu > div > img {
  border-radius: 5px;
  width: 22px;
  margin: 8px auto;
}

.plus {
  width: 22px; 
  height: 22px;
  margin-top: 10px; 
  border: 0.5px solid #efefef; 
  border-radius: 5px; 
  margin: 8px auto;
}

.popup {
  width: 450px;
  height: 250px;
  background-color: #fff;
  z-index: 10000;
  position: absolute;
  right: 43%;
  top: 10%;
  border: 1px solid #505060;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.1);
  display: none;
}

.popup > div > input {
  width: 422px;
  height: 30px;
  margin-bottom: 15px;
}

.popup > div {
  margin-left: 10px;
  
}

.popup-btn {
  width: 83px;
  height: 35px;
  margin-right: 10px
}

.popup-btn:nth-child(1) {
  margin-right: 10px
}

.popup-btn:nth-child(2) {
  margin-right: 10px;
}


