<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" type="text/css" href="/css/hello.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
  <div class="page"> <!-- wrap -->
    <header>
      <div class="header-container">
        <div class="header-menu">
          <img id="logo-img" src="./img/logo.png">
          <div id="top-menu">커뮤니티 쇼핑 이사/시공/생활</div>
          <div class="top-btn">
            <input style="height:30px;" type="text" placeholder="⌕ 통합검색">
            <div><img src="./img/cart.png"></div>
            로그인 | 회원가입
            <button> 글쓰기 ⌵ </button>
          </div>
        </div>
        <div class="header-menu2">
          <div id="top-menu2">홈 추천 집들이 집사진 살림수납 콜렉터블 홈스토랑 핫플레이스 육아 플렌테리어 반려동물</div>          
          <div class="top-btn2">
            <div style="margin-left: 160px;">⌵</div>
            <div class="rolling-rank">
              <div class="rolling" id="rolling-1">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">1</div>
                <div style="width:30px; margin-left: 10px; color:red">new</div>
                <div style="width:100px; margin-left: 10px">모달이불세트</div>
              </div>
              <div class="rolling" id="rolling-2">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">2</div>
                <div style="width:30px; margin-left: 10px; color:dodgerblue; text-align: center;">▾</div>
                <div style="width:100px; margin-left: 10px">서랍장</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">3</div>
                <div style="width:30px; margin-left: 10px; color:red; text-align: center;">▴</div>
                <div style="width:102px; margin-left: 10px">크리스마스 트리</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">4</div>
                <div style="width:30px; margin-left: 10px; color:red; text-align: center;">▴</div>
                <div style="width:102px; margin-left: 10px">옷장</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">5</div>
                <div style="width:30px; margin-left: 10px; color:red; text-align: center;">▴</div>
                <div style="width:102px; margin-left: 10px">공기정화식물</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">6</div>
                <div style="width:30px; margin-left: 10px; color:dodgerblue; text-align: center;">▾</div>
                <div style="width:102px; margin-left: 10px">아이패드 거치대</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">7</div>
                <div style="width:30px; margin-left: 10px; color:red; text-align: center;">new</div>
                <div style="width:102px; margin-left: 10px">미니 화장대</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">8</div>
                <div style="width:30px; margin-left: 10px; color:red; text-align: center;">▴</div>
                <div style="width:102px; margin-left: 10px">반원 테이블</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">9</div>
                <div style="width:30px; margin-left: 10px; color:dodgerblue; text-align: center;">▾</div>
                <div style="width:102px; margin-left: 10px">경추베개</div>
              </div>
              <div class="rolling" id="rolling-3">
                <div style="width:10px; margin-left: 15px; font-weight: 700;">10</div>
                <div style="width:30px; margin-left: 10px; color:red; text-align: center;">▴</div>
                <div style="width:102px; margin-left: 10px">무드등</div>
              </div>
            </div>
            <div id="mouseover">⌵</div>
          </div>
          <div class="mouseover-front">
            <div>
              <div style="font-weight: bold; font-size: 18px;">인기검색어</div>
              <div style="display:flex">1 <div class="search-point" style="color: red">new</div> 모달이불세트<br></div>
              <div style="display:flex">2 <div class="search-point" style="color: dodgerblue">▾</div> 서랍장<br></div>
              <div style="display:flex">3 <div class="search-point" style="color: red">▴</div> 크리스마스 트리<br></div>
              <div style="display:flex">4 <div class="search-point" style="color: red">▴</div> 옷장<br></div>
              <div style="display:flex">5 <div class="search-point" style="color: red">▴</div> 공기정화식물<br></div>
              <div style="display:flex">6 <div class="search-point" style="color: dodgerblue">▾</div> 아이패드 거치대<br></div>
              <div style="display:flex">7 <div class="search-point" style="color: red">new</div> 미니 화장대<br></div>
              <div style="display:flex">8 <div class="search-point" style="color: red">▴</div> 반원 테이블<br></div>
              <div style="display:flex">9 <div class="search-point" style="color: dodgerblue">▾</div> 경추베개<br></div>
              <div style="display:flex">8 <div class="search-point" style="color: red">▴</div> 무드등<br></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="contents">
      <div class="contents-container">
        <section class="today-story">
          <div class="today-menu">
            <div style="font-weight: 600; font-size: 19px;">오늘의 스토리</div>
            <div class="today-story-menu">
              <div id="menu1">인기</div>
              <div id="menu2">투자+</div>
              <div id="menu3">엔터+</div>
              <div id="menu4" style="margin-right: 4px">자동차</div>
              <div id="menu5">라이프</div>
              <div id="menu6">여행</div>
              <div id="menu7">푸드</div>
            </div>
            <div class="arrows" id="prev-arrow"> ≤ </div> 
            <div class="arrows" id="next-arrow"> ≥ </div>
          </div>  
          <div class="today-box">
            <div id="wrap-box1">
              <div class="today-news" id="today-news1">
                <article class="news" id="news1">
                  <div class="news-img" id="news1-img">
                    <img src="./img/news/news1.JPG">
                  </div>
                  <div class="news-text" id="news1-text">
                    <div class="news-content">
                      '이젠 성공해도 이 모델' <br>
                      국산 SUV 확 바뀌었다
                    </div>
                    <div class="news-name" id="news1-name">매일경제</div>
                  </div>
                </article>
                <article class="news" id="news2">
                  <div class="news-img" id="news2-img">
                    <img src="./img/news/news2.JPG">
                  </div>
                  <div class="news-text" id="news2-text">
                    <div class="news-content">
                      페라리 닮은 준대형 SUV <br>
                      공개되자 말 그대로 '난리'
                    </div>
                    <div class="news-name" id="news1-name">위드카뉴스</div>
                  </div>
                </article>
                <article class="news" id="news3">
                  <div class="news-img" id="news3-img">
                    <img src="./img/news/news3.JPG">
                  </div>
                  <div class="news-text" id="news3-text">
                    <div class="news-content">
                      주차하고 돌아왔더니 <br>
                      차가 바다에 있었다
                    </div>
                    <div class="news-name" id="news3-name">더카뷰</div>
                  </div>
                </article>
                <article class="news" id="news4">
                  <div class="news-img" id="news4-img">
                    <img src="./img/news/news4.JPG">
                  </div>
                  <div class="news-text" id="news4-text">
                    <div class="news-content">
                      미니버스로 만든 캠핑카 <br>
                      이렇게 만든 이유는요
                    </div>
                    <div class="news-name" id="news4-name">M투데이</div>
                  </div>
                </article>
              </div>
              <div class="today-news" id="today-news2">
                <article class="news" id="news5">
                  <div class="news-img" id="news5-img">
                    <img src="./img/news/news5.jpeg">
                  </div>
                  <div class="news-text" id="news5-text">
                    <div class="news-content">
                      전청조가 선물했던 자동차 <br>
                      사실 '이것'이었다
                    </div>
                    <div class="news-name" id="news5-name">더카뷰</div>
                  </div>
                </article>
                <article class="news" id="news6">
                  <div class="news-img" id="news6-img">
                    <img src="./img/news/news6.JPG">
                  </div>
                  <div class="news-text" id="news6-text">
                    <div class="news-content">
                      새로 나온 K5 신형 <br>
                      젊은이들 선호하는 이유
                    </div>
                    <div class="news-name" id="news6-name">한국경제</div>
                  </div>
                </article>
                <article class="news" id="news7">
                  <div class="news-img" id="news7-img">
                    <img src="./img/news/news7.JPG">
                  </div>
                  <div class="news-text" id="news7-text">
                    <div class="news-content">
                      '디자인 미쳤다' 르노가 <br>
                      벼르고 만든 콘셉트카
                    </div>
                    <div class="news-name" id="news7-name">위드카뉴스</div>
                  </div>
                </article>
                <article class="news" id="news8">
                  <div class="news-img" id="news8-img">
                    <img src="./img/news/news8.JPG">
                  </div>
                  <div class="news-text" id="news8-text">
                    <div class="news-content">
                      999계단까지 오른 SUV <br>
                      이번엔 급류 뚫었다
                    </div>
                    <div class="news-name" id="news8-name">EV라운지</div>
                  </div>
                </article>
              </div>
            </div>
            <div id="wrap-box2">
              <div>
                <article class="news" id="news8">
                  <div class="news-img" id="news8-img">
                    <img src="./img/news/news8.JPG">
                  </div>
                  <div class="news-text" id="news8-text">
                    <div class="news-content">
                      999계단까지 오른 SUV <br>
                      이번엔 급류 뚫었다
                    </div>
                    <div class="news-name" id="news8-name">EV라운지</div>
                  </div>
                </article>
              </div>
            </div>
            <div id="wrap-box3">
              <div>
                <article class="news" id="news8">
                  <div class="news-img" id="news8-img">
                    <img src="./img/news/news8.JPG">
                  </div>
                  <div class="news-text" id="news8-text">
                    <div class="news-content">
                      999계단까지 오른 SUV <br>
                      이번엔 급류 뚫었다
                    </div>
                    <div class="news-name" id="news8-name">EV라운지</div>
                  </div>
                </article>
              </div>
            </div>
            <div id="wrap-box4">
              <div>
                <article class="news" id="news8">
                  <div class="news-img" id="news8-img">
                    <img src="./img/news/news8.JPG">
                  </div>
                  <div class="news-text" id="news8-text">
                    <div class="news-content">
                      999계단까지 오른 SUV <br>
                      이번엔 급류 뚫었다
                    </div>
                    <div class="news-name" id="news8-name">EV라운지</div>
                  </div>
                </article>
              </div>
            </div>
            <div id="wrap-box5">
              <div>
                <article class="news" id="news8">
                  <div class="news-img" id="news8-img">
                    <img src="./img/news/news8.JPG">
                  </div>
                  <div class="news-text" id="news8-text">
                    <div class="news-content">
                      999계단까지 오른 SUV <br>
                      이번엔 급류 뚫었다
                    </div>
                    <div class="news-name" id="news8-name">EV라운지</div>
                  </div>
                </article>
              </div>
            </div>
            <div id="wrap-box6">
              <div>
                <article class="news" id="news8">
                  <div class="news-img" id="news8-img">
                    <img src="./img/news/news8.JPG">
                  </div>
                  <div class="news-text" id="news8-text">
                    <div class="news-content">
                      999계단까지 오른 SUV <br>
                      이번엔 급류 뚫었다
                    </div>
                    <div class="news-name" id="news8-name">EV라운지</div>
                  </div>
                </article>
              </div>
            </div>
            <div id="wrap-box7">
              <div>
                <article class="news" id="news8">
                  <div class="news-img" id="news8-img">
                    <img src="./img/news/news8.JPG">
                  </div>
                  <div class="news-text" id="news8-text">
                    <div class="news-content">
                      999계단까지 오른 SUV <br>
                      이번엔 급류 뚫었다
                    </div>
                    <div class="news-name" id="news8-name">EV라운지</div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-area">
          <div class="footer1">
            <div>고객센터 ></div>
            <div>
              <span>1670-0876</span>&nbsp;<span>09:00~18:00</span>
            </div>
            <div>
              평일: 전체 문의 상담 가능 <br>
              주말, 공휴일: 오늘의집 직접배송, 이사/시공/제품설치 <br>
              문의 상담 가능
            </div>
            <span style="border: 0.5px solid rgb(221, 224, 227); border-radius: 10%;">카톡 상담(평일 09:00~18:00)</span>
            <br><br>
            <span style="border: 0.5px solid rgb(221, 224, 227); border-radius: 10%;">이메일 문의</span>
          </div>
          <div class="footer2">
            <div style="margin-right: 40px;">
              회사소개<br>
              채용정보<br>
              이용약관<br>
              개인정보 처리방침<br>
              안전거래센터
            </div>
            <div>
              입점신청<br>
              제휴/광고 문의<br>
              사업자 구매 회원<br>
              시공 파트너 안내<br>
              상품광고 소개<br>
              고객의 소리
            </div>
          </div>
          <div class="footer3">
            <div>
              (주)버킷플레이스 | 대표이사 이승재<br>
              서울 서초구 서초대로74길 4 삼성생명서초타어 25층, 27층 | contact@bucketplace.net<br>
              사업자등록번호 119-86-91245 사업자정보확인<br>
              통신판매업신고번호 제2018-서울서초-0580<br><br>
              고객님이 현금결제한 금액에 대해 우리은행과 채무자급보증 계약을 체결하여 안전거래를 보장하고 있습니다.<br>
              서비스 가입사실확인
            </div>
            <div class="footer-img">
              <div style="display: flex; align-items: center; width: 50%; border: 0.5px solid rgb(221, 224, 227);">
                <img src="./img/logo1.png">
                <div>
                  오늘의집 서비스 운영<br>
                  2021. 09. 08 ~ 2023. 09. 07
                </div>
              </div>
              <div style="display: flex; justify-content: center; align-items: center; width: 40%; border: 0.5px solid rgb(221, 224, 227);"><img src="./img/logo2.png"></div>
              <div style="display: flex; justify-content: center; align-items: center; width: 40%; border: 0.5px solid rgb(221, 224, 227);"><img src="./img/logo3.png"></div>
            </div>
            <div></div>
            <div>
              (주)버킷플레이스는 통신판매중개자로 거래 당사자가 아니므로, 판매자가 등록한 상품정보 및 거래 등에 대해<br>
               책임을 지지 않습니다. 단, (주)버킷플레스가 판매자로 등록 판매한 상품은 판매자로서 책임을 부담합니다. 
              <img src="./img/snsimg.png"><br>
              Copyright 2014. bucketplace, Co., Ltd. All reserved.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="/js/hello.js"></script>
</body>
</html>