<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/hello.css"/>
</head>
<body>
  <div class="page">
    <header>
      <div class="header-container">
        header
        <nav></nav>
      </div>
    </header>
    <div class="contents">
      <div class="contents-container">
        <div class="today-story">
          <div class="today-menu">
            <span>오늘의 스토리</span>
            <span>
              인기 &nbsp; &nbsp; &nbsp;
              투자+ &nbsp; &nbsp; &nbsp;
              엔터+ &nbsp; &nbsp; &nbsp;
              자동차 &nbsp; &nbsp; &nbsp;
              라이프 &nbsp; &nbsp; &nbsp;
              여행 &nbsp; &nbsp; &nbsp;
              푸드</span>
            <span> < &nbsp; > </span>
          </div>
          <div class="today-box">
            <div class="today-news" id="today-news1">
              <div class="news" id="news1">
                <div class="news-img" id="news1-img">
                  <img src="./img/news/news1.JPG">
                </div>
                <div class="news-text" id="news1-text">
                  <div class="news-content">
                    '이젠 성공해도 이 모델' <br>
                    국산 SUV 확 바뀌었다
                  </div>
                  <div class="news-name" id="news1-name">매일경제</div>
                </div>
              </div>
              <div class="news" id="news2">
                <div class="news-img" id="news2-img">
                  <img src="./img/news/news2.JPG">
                </div>
                <div class="news-text" id="news2-text">
                  <div class="news-content">
                    페라리 닮은 준대형 SUV <br>
                    공개되자 말 그대로 '난리'
                  </div>
                  <div class="news-name" id="news1-name">위드카뉴스</div>
                </div>
              </div>
              <div class="news" id="news3">
                <div class="news-img" id="news3-img">
                  <img src="./img/news/news3.JPG">
                </div>
                <div class="news-text" id="news3-text">
                  <div class="news-content">
                    주차하고 돌아왔더니 <br>
                    차가 바다에 있었다
                  </div>
                  <div class="news-name" id="news3-name">더카뷰</div>
                </div>
              </div>
              <div class="news" id="news4">
                <div class="news-img" id="news4-img">
                  <img src="./img/news/news4.JPG">
                </div>
                <div class="news-text" id="news4-text">
                  <div class="news-content">
                    미니버스로 만든 캠핑카 <br>
                    이렇게 만든 이유는요
                  </div>
                  <div class="news-name" id="news4-name">M투데이</div>
                </div>
              </div>
            </div>
            <div class="today-news" id="today-news2">
              <div class="news" id="news5">
                <div class="news-img" id="news5-img">
                  <img src="./img/news/news5.jpeg">
                </div>
                <div class="news-text" id="news5-text">
                  <div class="news-content">
                    전청조가 선물했던 자동차 <br>
                    사실 '이것'이었다
                  </div>
                  <div class="news-name" id="news5-name">더카뷰</div>
                </div>
              </div>
              <div class="news" id="news6">
                <div class="news-img" id="news6-img">
                  <img src="./img/news/news6.JPG">
                </div>
                <div class="news-text" id="news6-text">
                  <div class="news-content">
                    새로 나온 K5 신형 <br>
                    젊은이들 선호하는 이유
                  </div>
                  <div class="news-name" id="news6-name">한국경제</div>
                </div>
              </div>
              <div class="news" id="news7">
                <div class="news-img" id="news7-img">
                  <img src="./img/news/news7.JPG">
                </div>
                <div class="news-text" id="news7-text">
                  <div class="news-content">
                    '디자인 미쳤다' 르노가 <br>
                    벼르고 만든 콘셉트카
                  </div>
                  <div class="news-name" id="news7-name">위드카뉴스</div>
                </div>
              </div>
              <div class="news" id="news8">
                <div class="news-img" id="news8-img">
                  <img src="./img/news/news8.JPG">
                </div>
                <div class="news-text" id="news8-text">
                  <div class="news-content">
                    999계단까지 오른 SUV <br>
                    이번엔 급류 뚫었다
                  </div>
                  <div class="news-name" id="news8-name">EV라운지</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-container">
        footer
      </div>
    </footer>
  </div>
</body>
</html>