<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/join.css"/>
<script src="/js/jquery-3.7.1.min.js"></script>
<title>Insert title here</title>
</head>
<body>
  <div class="wrap">
    <div id="logo"><img src="./img/join/join_logo.png"></div>
    <div class="join-wrap">
      <div class="contents">
        <div class="join">
          <div class="sign-up">
            <div style="font-size: 20px; font-weight: 600;">회원가입</div>
          </div>
          <div class="join-sns">
            <div style="font-size: 12px; margin-bottom: 10px;">sns계정으로 간편하게 회원가입</div>
            <div><img src="./img/join/join_sns.png"></div>
          </div>
          <div style="width: 360px; height: 1px; border-bottom: 1px solid #e6e6e6;"></div>
          <div class="email">
            <div class="title">이메일</div>
            <div class="email-input">
              <input type="text" id="email" placeholder="  이메일" onclick="emailNecessaryCheck()"> @
              <select class="email-menu" name="menu" required>
                <option value="" disabled selected>선택해주세요</option>
                <option value="naver">naver.com</option>
                <option value="hanmail">hanmail.net</option>
                <option value="daum">daum.net</option>
                <option value="gmail">gmail.com</option>
                <option value="nate">nate.com</option>
                <option value="hotmail">hotmail.com</option>
                <option value="outlook">outlook.com</option>
                <option value="icloud">icloud.com</option>
                <option value="other">직접입력</option>
              </select>
            </div>
            <div class="hidden-text2" id="email-hidden2">필수 입력 항목입니다.</div>
            <div>
              <button id="email-btn">이메일 인증하기</button>
            </div>
          </div>
          <div class="pw">
            <div class="title">비밀번호</div>
            <div style="margin-bottom: 10px; font-size: 14px; color: #828c94; font-weight: 300;">영문,숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.</div>
            <input class="join-input" id="password" type="text" placeholder="  비밀번호" oninput="pwCheck()" onclick="pwNecessaryCheck()">
            <div class="hidden-text" id="pw-hidden">비밀번호는 영문, 숫자를 포함하여 8자 이상이어야 합니다.</div>
            <div class="hidden-text2" id="pw-hidden2">필수 입력 항목입니다.</div>
          </div>
          <div class="pw-check">
            <div class="title">비밀번호 확인</div>
            <input class="join-input" id="password-check" type="text" placeholder="  비밀번호 확인" oninput="pwDoubleCheck()" onclick="pwCheckNecessaryCheck()">
            <div class="hidden-text" id="pwCheck-hidden">비밀번호가 일치하지 않습니다.</div>
            <div class="hidden-text2" id="pwCheck-hidden2">필수 입력 항목입니다.</div>
          </div>
          <div class="nickname">
            <div class="title">닉네임</div>
            <div style="margin-bottom: 10px; font-size: 14px; color: #828c94; font-weight: 300;">다른 유저와 겹치지 않도록 입력해주세요. (2~15자)</div>
            <input class="join-input" type="text" placeholder="  별명 (2~15자)" onclick="nicknameCheck()">
            <div class="hidden-text" id="nickname-hidden">사용 중인 별명입니다.</div>
            <div class="hidden-text2" id="nickname-hidden2">필수 입력 항목입니다.</div>
          </div>
          <div class="provision">
            <div class="title">약관동의</div>
            <div class="provision-box">
              <div>
                <input type="checkbox" id="all-check"> 전체동의
                <span style="font-size: 12px; color: #828c94; font-weight: 300;">선택항목에 대한 동의 포함</span>
              </div>
              <div style="border-bottom: 1px solid #e6e6e6; height: 1px;"></div>
              <div>
                <input type="checkbox" id="check-age"> 만 14세 이상입니다
                <span class="necessary">(필수)</span>
              </div>
              <div>
                <input type="checkbox" id="check-provision"> 이용약관
                <span class="necessary">(필수)</span>
              </div>
              <div>
                <input type="checkbox" id="check-use"> 개인정보수집 및 이용동의
                <span class="necessary">(필수)</span>
              </div>
              <div>
                <input type="checkbox" id="check-marketing"> 개인정보 마케팅 활용 동의
                <span class="choose">(선택)</span>
              </div>
              <div>
                <input type="checkbox" id="check-sms"> 이벤트, 쿠폰, 특가 알림 메일 및 SMS등 수신
                <span class="choose">(선택)</span>
              </div>
            </div>
          </div>
          <div class="robot">
            <div class="robot-area">
              <input type="checkbox" id="cb"> 로봇이 아닙니다.
              <div style="margin-left: 82px;"><img src="/img/join/CAPTCHA.png"></div>
            </div>
          </div>
          <div class="join-btn">
            <button>회원가입하기</button>
          </div>   
          <div class="login">
            <div>이미 아이디가 있으신가요? <a href="">로그인</a></div>
            
          </div>            
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/join.js"></script>
</body>
</html>